<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.twinkle.htwinkle">

    <!-- 允许联网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取GSM（2g）、WCDMA（联通3g）等网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 获取sd卡写的权限，用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 允许读取手机状态 用于创建BmobInstallation -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- //定位包、导航包需要的额外权限（注：基础权限也需要） -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".app.MyApp"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="d7f58d781518523248c1e936f169cc53" />

        <activity android:name=".ui.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.login" />

                <category android:name="android.intent.category.login" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.RegOrForActivity" />
        <activity android:name=".ui.SetPassActivity" />
        <activity android:name=".ui.MainActivity" />
        <activity android:name=".ui.WriteMessActivity" />
        <activity android:name=".ui.TopicActivity" />
        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity android:name=".ui.InfoActivity" />
        <activity android:name=".ui.DetailPostActivity" />
        <activity android:name=".ui.FocusActivity" />
        <activity android:name=".ui.CollectActivity" />
        <activity android:name=".ui.TopicPostActivity" />
        <activity
            android:name=".ui.UserRoomActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".ui.JwglInfoActivity" />
        <activity android:name=".ui.JwglScoreActivity" />
        <activity android:name=".ui.JwglTtbActivity" />
        <activity android:name=".ui.EolInfoActivity" />
        <activity android:name=".ui.EolSubjectActivity" />
        <activity android:name=".ui.RobotActivity" />
        <activity android:name=".ui.EveryInOneMusicActivity" />
        <activity android:name=".ui.EveryArticleActivity" />

        <service
            android:name=".service.SubjectService"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedService" />

        <receiver
            android:name=".receiver.SubjectReceiver"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedReceiver" />
    </application>

</manifest>